/**********************************
GENERAL
***********************************/

body {
    font-family: 'Bellefair', serif;
    font-weight: lighter;

}

#wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding: %;
  font-size: 150%
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
  color: #fff;
}



/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}
.selected{
  list-style-type:none;
}


/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px;
  margin: 0 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px ;
}



/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: -5px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/**********************************
PAGE: PORTFOLIO
***********************************/

.grow:hover
{
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color:     #bdc3c7 ;            
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}





/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
  display: block;
  max-width: 250px;
  margin: 0 auto 30px;
  border-radius: 100%;
}
.profile-photo:hover
{
 -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);


}/**********************************
PAGE: CONTACT
***********************************/


/* Style inputs */
label,
input,
textarea {  width: 100%;
    padding: 12px;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
}

input::placeholder {
  opacity: 0.5;
}

textarea {
  height: 200px;
}

input[type=submit] {
   background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;}


* {
    box-sizing: border-box;
}


/* Style the container/contact section */
.container {
    border-radius: 5px;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: all;
    width: 50%;
    margin-top: 3px;
    padding: 10px;
    padding-right: 9%;
    padding-bottom: 4%;


}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1000px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0%;
    }
}
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');}

.contact-info li.github a {
  background-image: url('../img/github.png');
}
.contact-info li.linkedin a {
  background-image: url('../img/linkedin.png');
}
#secondary{
  background-color: #999;
  padding-left: 3%;
}

/**********************************
COLORS
***********************************/

/* site body */
body {colors:yellow; 
  background-color: #370202   ;  /*#DCDCDC; */
  }
  body:hover{
    background-color:  #1A5006;
  }
/*  header */
header{
 background-color:  #370202   ;  
  border-color:#7D9EC0  ;
}
header:hover{
  background-color: #1A5006;

}
#wrapper {
  color: #FF8C00;
}
/* nav background on mobile */
nav {
  background: #7D9EC0 ;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: yellow;  ;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #7D9EC0  ;
}














